<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/brython.js"></script>
    <script type="text/javascript" src="js/brython_stdlib.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
    <title>Home</title>
</head>
<body onload="<!-- brython() -->">
    <header>
        <div class="container">
            <nav class="nav">
                <h2 class="lg-name"><span class="ni-txt">I-</span>English</h2>
                <div class="search-bar">
                    <form action="" class="form">
                        <input type="search" class="search" placeholder="search ...">
                        <button class="se-btn">
                            S
                        </button>
                    </form>
                </div>
            </nav>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">speaking&Listening</a>
                    <a class="dropdown-item" href="#">Reading</a>
                    <a class="dropdown-item" href="#">Vocabulary</a>
                    <a class="dropdown-item" href="#">Tests</a>
                </div>
            </div>

        </div>
    </header>

    <section class="hero">
        <div class="h-co">
            <div class="h-txt">
                <p class="h-par">
                    Explore the power of English width
                    <span class="ni-txt">I-English</span>
                </p>
            </div>
            <div class="h-getstarted">
                <h3 class="h-par">English Mastery Starts Here</h3>
                <button class="getstartedbtn ">Get Started</button>

            </div>
        </div>

    </section>
    <section class="services">
        
        <div class="co-t">
        <h2 class="title section-title t-name" data-name="discover it"><span class="ni-txt">Our</span>services</h2>
        <hr />
        </div>
        <div class="services-con">
            <div class="service">
                <i class="ri-store-line">y</i>
                <h3 class="ser-n">+300 conversations </h3>
                <p class="s-par">
                    discover +300 conversations in
                    english to improve your speaking
                </p>
            </div>
            <div class="service">
                <i class="ri-store-line">y</i>
                <h3 class="ser-n">+50 stories </h3>
                <p class="s-par">
                    find more then 50 english stories
                    translated to arabic
                </p>
            </div>
            <div class="service">
                <i class="ri-store-line">y</i>
                <h3 class="ser-n"> tests </h3>
                <p class="s-par">
                    to devlop your
                    pronunciation and
                    your english we add
                    an ai bot to help
                    you with that
                </p>

            </div>
            <div class="service">
                <i class="ri-store-line">y</i>
                <h3 class="ser-n">New vocabulary</h3>
                <p class="s-par">
                    start learn new vocabulary
                    about various important
                    fields
                </p>

            </div>
        </div>


    </section>
    <section class="level-ls">
    <div class="some-lesson">
    <h2 class="title section-title t-name" data-name="biginner">biginner</h2>
    <hr>
    <div class="le-con">
        <div class="le-c">
            <h3 class="le-name">Greatings:</h3>
            <hr>
            <div class="co-le">
            <img src="img/prolang.jpg" alt="icon" class="le-icon">
                <div class="p-c">
                
                <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">who are you?:</h3>
            <hr>
            <div class="co-le">
            <img src="img/code.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">where are you form?:</h3>
            <hr>
            <div class="co-le">
            <img src="img/glasses.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">speak like a native speaker:</h3>
            <hr>
            <div class="co-le">
            <img src="img/about.jpg" alt="icon" class="le-icon">
                <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">grammer:</h3>
            <hr>
            <div class="co-le">
            <img src="img/counts-img.jpg" alt="icon" class="le-icon">
            
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">every day story:</h3>
            <hr>
            <div class="co-le">
            <img src="img/happy.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        
    </div>
    </div>
    <div class="some-lesson">
    <h2 class="title section-title t-name" data-name="intermediate">intermediate</h2>
    <hr>
    <div class="le-con">
        <div class="le-c">
            <h3 class="le-name">Greatings:</h3>
            <hr>
            <div class="co-le">
            <img src="img/prolang.jpg" alt="icon" class="le-icon">
                <div class="p-c">
                
                <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">who are you?:</h3>
            <hr>
            <div class="co-le">
            <img src="img/code.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">where are you form?:</h3>
            <hr>
            <div class="co-le">
            <img src="img/glasses.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">speak like a native speaker:</h3>
            <hr>
            <div class="co-le">
            <img src="img/about.jpg" alt="icon" class="le-icon">
                <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">grammer:</h3>
            <hr>
            <div class="co-le">
            <img src="img/counts-img.jpg" alt="icon" class="le-icon">
            
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">every day story:</h3>
            <hr>
            <div class="co-le">
            <img src="img/happy.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        
    </div>
    </div>
    <div class="some-lesson">
    <h2 class="title section-title t-name" data-name="advenced">advenced</h2>
    <hr>
    <div class="le-con">
        <div class="le-c">
            <h3 class="le-name">Greatings:</h3>
            <hr>
            <div class="co-le">
            <img src="img/prolang.jpg" alt="icon" class="le-icon">
                <div class="p-c">
                
                <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">who are you?:</h3>
            <hr>
            <div class="co-le">
            <img src="img/code.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">where are you form?:</h3>
            <hr>
            <div class="co-le">
            <img src="img/glasses.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">speak like a native speaker:</h3>
            <hr>
            <div class="co-le">
            <img src="img/about.jpg" alt="icon" class="le-icon">
                <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">grammer:</h3>
            <hr>
            <div class="co-le">
            <img src="img/counts-img.jpg" alt="icon" class="le-icon">
            
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>            </div>
        </div>
        <div class="le-c">
            <h3 class="le-name">every day story:</h3>
            <hr>
            <div class="co-le">
            <img src="img/happy.jpg" alt="icon" class="le-icon">
            <div class="p-c">
                
            <p class="le-info-p">learn how to great some one using some expressions</p>
            </div>
            </div>
        </div>
        
    </div>
    </div>
    </section>
    
    
    <section class="contact">

    <h2 class="title section-title t-name" data-name="contact us">Contact<span class="ni-txt">Us</span></h2>
   <hr>
        <div class="contact-utils">
            
            <div class="util">
                <i class="icon-ut">p</i>
                <div class="cont-info-con">
                    <span class="util-name">Call:</span>
                    <p class="cont-info">
                        +1 473 7695 796
                    </p>
                </div>
            </div>
            <div class="util">
                <i class="icon-ut">p</i>
                
                
                
                <div class="cont-info-con">
                    
                    <span class="util-name">Email:</span>
                    <p class="cont-info">
                        support@ienglish.com
                    </p>
                </div>
            </div>
        
    </div>
    
        <div class="contact-form">
<form action="" class="">
    <input type="text" name="username" id="username" class=" fo-input" placeholder="Your name">
    <input type="email" name="email" id="email" class=" fo-input" placeholder="Your email">
    <textarea name="body" class="fo-input" rows="8" cols="10" placeholder="your message"></textarea>
    <div class="send">
        <button class="send-btn">Send</button>
    </div>
</form>
            </div>

</section>
    
    <footer class="footer">
        <h1 class="fo-name"><b>IEnglish</b></h1>
        <div class="contact-utils">

                <div class="cont-info-con">
                    <span class="util-name">Call:</span>
                    <p class="cont-info">
                        +1 473 7695 796
                    </p>
                </div>
                <div class="cont-info-con">
                    
                    <span class="util-name">Email:</span>
                    <p class="cont-info">
                        support@ienglish.com
                    </p>
                </div>
            
        </div>

        <div class="follow">
            <div class="img-c">
                <img src="img/facebooknew.png" alt="icon" class="fl-img">
            </div>
            <div class="img-c">
                <img src="img/instagram_new.png" alt="icon" class="fl-img">
            </div>
            <div class="img-c">
                <img src="img/whatsapp.png" alt="icon" class="fl-img">
            </div>
        </div>
        <div class="fo-co">
            <h2 class="fo-co-n">Useful Links</h2>
            <div class="fo-co-c">
            <h3 class="co-fo">Home</h3>
            <h3 class="co-fo">About us</h3>
            <h3 class="co-fo">Services</h3>
            <h3 class="co-fo">Lessons</h3>
            <h3 class="co-fo">Terms of service</h3>
            <h3 class="co-fo">Privacy policy</h3>
            </div>
        </div>
        <div class="fo-co">
            <h2 class="fo-co-n"> Level</h2>
            <div class="fo-co-c">
            <h3 class="co-fo">biginner</h3>
            <h3 class="co-fo">intermediate</h3>
            <h3 class="co-fo">advenced</h3>
            </div>
        </div>
        <div class="copyrights">
            <p class="copyright">
            © Copyright <b>IEnglish</b>. All Rights Reserved
            </p>
            <p class="copyright">
                made by <span class="ni-txt">IEnglish</span>
            </p>
        </div>
    </footer>

    <script src="py/pyscript.py" type="text/python" charset="utf-8"></script>
    <script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>