<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />

    <title>vocabulary</title>
</head>
<body>
    <div class="conversation-detail">
        <h2 class="conversation-title">في المصرف </h2>
        
        <div class="conversation-content">
            <div class="conversation-sentences">
                <h3 class="sentence english">at the bank</h3>
                <div class="play">
                    <img src="img/speaker_blue.png" alt="" class="play-icon">
                    
                </div>
                <h3 class="sentence arabic">في المصرف</h3>
            </div>
            <div class="conversation-sentences">
                <h3 class="sentence english">at the bank</h3>
                <div class="play">
                    <img src="img/speaker_blue.png" alt="" class="play-icon">
                </div>
                <h3 class="sentence arabic">في المصرف</h3>
            </div>
            <div class="conversation-sentences">
                <h3 class="sentence english">at the bank</h3>
                <div class="play">
                    <img src="img/speaker_blue.png" alt="" class="play-icon">
                </div>
                <h3 class="sentence arabic">في المصرف</h3>
            </div>
            <div class="conversation-sentences">
                <h3 class="sentence english">at the bank</h3>
                <div class="play">
                    <img src="img/speaker_blue.png" alt="" class="play-icon">
                </div>
                <h3 class="sentence arabic">في المصرف</h3>
            </div>
            <div class="conversation-sentences">
                <h3 class="sentence english">at the bank</h3>
                <div class="play">
                    <img src="img/speaker_blue.png" alt="" class="play-icon">
                </div>
                <h3 class="sentence arabic">في المصرف</h3>
            </div>
            <div class="conversation-sentences">
                <h3 class="sentence english">at the bank</h3>
                <div class="play">
                    <img src="img/speaker_blue.png" alt="" class="play-icon">
                </div>
                <h3 class="sentence arabic">في المصرف</h3>
            </div>
        </div>
    </div>
</body>
</html>